body{
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background-color: rgb(255, 255, 255);
}
.game{
    width: 330px;
    background-color: red;
    text-align: center;
    margin: auto;
}
.title{
    /* background-color: rgb(4, 4, 57); */
    background-color: #f25;
    padding: 5px;
    color: white;
}
span{
    font-size: 40px;
    color: blue;
}
.square{
    width: 100px;
    height: 100px;
    float: left;
    background-color: #f25;
    margin: 5px;
    font-size: 80px;
    transition: .3s ease;
    color: rgb(255, 255, 255);
}
.square:hover{
    background-color: black;
    cursor: pointer;
}